.App {
  font-family: sans-serif;
}

.value {
  border: 1px solid red;
  height: 1em;
  width: 3em;
  padding: 0.2em;
}

.y-axis .y-title, .y-axis .y-desc {
  width: 150px;
}

/* 
add some css for showing category/likelihood titles
options
maybe show text all the time in accessability?
on hover of cell show the category/likelihood title
*/

.ra-container .btn-row button {
  height: 7rem;
  width: 7rem;
  word-spacing: 7rem;
/*   text-align: center; */
}

.ra-container .btn-row button span {
  text-transform: uppercase;
  /* text-align: -webkit-center; */
  width: 7em; /* setting width as em here means we dont have to use the -webkit-center */
  display: table-caption;
  user-select: none;
}
